[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
environ-config = "*"
requests = "*"
oauth2client = "*"
akeyless = "*"
google-api-python-client = "==1.8.0"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"

[scripts]
compile = "python scripts/compile.py"